@model BookStore.Models.Purchase
@using BookStore.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string[] cities = new string[] { "Лондон", "Париж", "Москва" };
    string[] countries = new string[] { "Великобритания", "Франция", "Россия" };
}


<div class="row">
    <div class="col-sm-4">
        <h3>Города</h3>
        @Html.CreateList(cities)
        <br />
        <h3>Страны</h3>
        <!-- или можно вызвать так -->
        @ListHelper.CreateList(Html, countries)

        <div class="form-group">
            @Html.ListBox("countires", new MultiSelectList(new string[] { "Россия", "США", "Китай", "Индия" }), new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-8">
        <div class="form-group">
            @Html.DisplayFor(t=>t.Book.Author, new { @class = "form-control" })
        </div>
        
        <div>
            <h3>Форма оформления покупки</h3>
            @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.BookId)
                <div class="form-group">
                    @Html.LabelFor(m => m.Person, "Введите свое имя")
                    @Html.TextBoxFor(m => m.Person, new {@class = "form-control"})
                </div>                
                <div class="form-group">
                    @Html.LabelFor(m => m.Address, "Введите адрес")

                    @Html.TextBoxFor(m => m.Address, new {@class = "form-control"})
                </div>
                <button type="submit" class="btn btn-success">Отправить</button>

            }
        </div>
    </div>
</div>
@Html.Partial("Partial")
